@font-face {
    font-family: 'PF Agora Sans Pro Black';
    src: url('/fonts/PFAgoraSansPro-Black.eot');
    src: local('PFAgoraSansPro-Black'),
        url('/fonts/PFAgoraSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Black.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Black.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Light Italic';
    src: url('/fonts/PFAgoraSansPro-LightItalic.eot');
    src: local('PFAgoraSansPro-LightItalic'),
        url('/fonts/PFAgoraSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-LightItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-LightItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro Bold';
    src: url('/fonts/PFAgoraSansPro-Bold.eot');
    src: local('PFAgoraSansPro-Bold'),
        url('/fonts/PFAgoraSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Bold.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Bold.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Light';
    src: url('/fonts/PFAgoraSansPro-Light.eot');
    src: local('PFAgoraSansPro-Light'),
        url('/fonts/PFAgoraSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Light.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Light.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Thin';
    src: url('/fonts/PFAgoraSansPro-Thin.eot');
    src: local('PFAgoraSansPro-Thin'),
        url('/fonts/PFAgoraSansPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Thin.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Thin.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Thin Italic';
    src: url('/fonts/PFAgoraSansPro-ThinItalic.eot');
    src: local('PFAgoraSansPro-ThinItalic'),
        url('/fonts/PFAgoraSansPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-ThinItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-ThinItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro Black Italic';
    src: url('/fonts/PFAgoraSansPro-BlackItalic.eot');
    src: local('PFAgoraSansPro-BlackItalic'),
        url('/fonts/PFAgoraSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-BlackItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-BlackItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro Ultra Black';
    src: url('/fonts/PFAgoraSansPro-UltraBlack.eot');
    src: local('PFAgoraSansPro-UltraBlack'),
        url('/fonts/PFAgoraSansPro-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-UltraBlack.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-UltraBlack.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Medium';
    src: url('/fonts/PFAgoraSansPro-Medium.eot');
    src: local('PFAgoraSansPro-Medium'),
        url('/fonts/PFAgoraSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Medium.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Medium.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro XThin Italic';
    src: url('/fonts/PFAgoraSansPro-XThinItalic.eot');
    src: local('PFAgoraSansPro-XThinItalic'),
        url('/fonts/PFAgoraSansPro-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-XThinItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-XThinItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-XThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro Italic';
    src: url('/fonts/PFAgoraSansPro-Italic.eot');
    src: local('PFAgoraSansPro-Italic'),
        url('/fonts/PFAgoraSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Italic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Italic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro Medium Italic';
    src: url('/fonts/PFAgoraSansPro-MediumItalic.eot');
    src: local('PFAgoraSansPro-MediumItalic'),
        url('/fonts/PFAgoraSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-MediumItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-MediumItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro XThin';
    src: url('/fonts/PFAgoraSansPro-XThin.eot');
    src: local('PFAgoraSansPro-XThin'),
        url('/fonts/PFAgoraSansPro-XThin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-XThin.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-XThin.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-XThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Regular';
    src: url('/fonts/PFAgoraSansPro-Regular.eot');
    src: local('PFAgoraSansPro-Regular'),
        url('/fonts/PFAgoraSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-Regular.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-Regular.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro Ultra Black';
    src: url('/fonts/PFAgoraSansPro-UltraBlackItalic.eot');
    src: local('PFAgoraSansPro-UltraBlackItalic'),
        url('/fonts/PFAgoraSansPro-UltraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-UltraBlackItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-UltraBlackItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-UltraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Agora Sans Pro Bold Italic';
    src: url('/fonts/PFAgoraSansPro-BoldItalic.eot');
    src: local('PFAgoraSansPro-BoldItalic'),
        url('/fonts/PFAgoraSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFAgoraSansPro-BoldItalic.woff2') format('woff2'),
        url('/fonts/PFAgoraSansPro-BoldItalic.woff') format('woff'),
        url('/fonts/PFAgoraSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}